@font-face {
    font-family: main-font;
    src: url('IBM_Plex_Mono/IBMPlexMono-Regular.ttf');
}

@font-face {
    font-family: TH-font;
    src: url('THSarabunNew.ttf');
}

@font-face {
    font-family: Sans-font;
    src: url('NotoSansThai-Light.ttf');
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    touch-action: manipulation;
}

#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition: 1s opacity, 1s visibility;
    z-index: 999;
}

.hide {
    opacity: 0 !important;
    visibility: hidden !important;
}

#root {
    height: 100%;
}

#farmer {
    height: 100%;
}

/* 
.bt-submit-form {
    outline: 0px;

    background-color: green;
    border: 1.5px solid greenyellow;
    color: white;

    font-weight: 900;
} */

@keyframes rotate-curcle {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.react-datepicker {
    width: 100%;
    /* ทำให้ Datepicker ขยายเต็มพื้นที่ของ container */
    max-width: 280px;
    /* จำกัดขนาดไม่ให้เกินหน้าจอ */
    min-width: 250px;
    /* ป้องกันการแสดงผลที่แคบเกินไป */
    position: fixed;
}

.react-datepicker__input-container input {
    width: 100%;
}

.react-datepicker-popper {
    transform: translateX(-50%) !important;
    /* ทำให้ Datepicker อยู่กึ่งกลาง Input */
    left: 50% !important;
    z-index: 9999 !important;
    /* ทำให้ Datepicker แสดงอยู่ด้านบนสุด */
    position: absolute !important;
    /* บังคับให้ Datepicker อยู่ตรง Input */
}

.react-datepicker__triangle {
    display: none !important;
}



@media (max-width: 480px) {
    .react-datepicker {
        max-width: 85vw;
        /* ให้ Datepicker ใช้ 85% ของหน้าจอบนมือถือ */
    }
}